<%= form_tag(@action, method: :post) do %>


  <div>
    <%= label_tag(:content, "URL/Link: ") %>
    <%= text_field_tag(:content, nil, size: 200) %>
  </div>

  <!-- <div>
    <%= label_tag(:content, "Text (optional): ") %>
    <%= text_field_tag(:conent, nil, size: 150) %>
  </div> -->



  <%= submit_tag("Submit link!") %>
<% end %>
